.card{
    width: 250px;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    background-size: cover;
    padding-top: 0 ;
    border-radius: 5px;
    box-shadow: 2px 5px 8px black;
    
}
.card img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    
}
.desc{  
    padding-left: 2px;
}
.card:hover{
    box-shadow: 0px 8px 26px rgb(115, 0, 255);
    transition: 1s;
}
